In [ ]:
from mlxtend.plotting import plot_decision_regions
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [ ]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.activity.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fexperimentsandconfigs%20https%3a%2f%2fwww.googleapis.com%2fauth%2fphotos.native&response_type=code

Enter your authorization code:
4/1AX4XfWiGDYk94QGhjL_C65da7TGzUTLhMw3DIrQkNBNVx9K-ZKornWgpjN4
Mounted at /content/drive

In [ ]:
ls drive/MyDrive/

'8 ASTUCES LINKEDIN sujet.gdoc'
'8 ASTUCES LINKEDIN sujet.pdf'
'ADN Balenciaga Djeneba Doumbia sawadogo.gdoc'
'Alexander .gslides'
'Avril management.gdoc'
'Balenciaga PRENOM (1) (1).pdf'
'Balenciaga PRENOM (1).pdf'
'Balenciaga PRENOM (2).pdf'
'Chapitre 12 ACCROCHE Droits &amp; obligations du vendeur &amp; du consommateur (1).docx'
'Chapitre 12 ACCROCHE Droits &amp; obligations du vendeur &amp; du consommateur (1).gdoc'
'Chapitre 12 ACCROCHE Droits &amp; obligations du vendeur &amp; du consommateur (2).docx'
'Chapitre 12 ACCROCHE Droits &amp; obligations du vendeur &amp; du consommateur.docx'
'Chapitre 12 ACCROCHE Droits &amp; obligations du vendeur &amp; du consommateur.gdoc'
'Chapitre 3 Les mÃ©tiers de la vente.docx'
'Chapitre 3 Les métiers de la vente.docx Djeneba.docx'
 Classeur1.xlsx
 Classroom/
'Copie de Copie de Jour 2 - Arbre de décision.ipynb'
'Copie de fiche signalétique djeneba.gslides'
'Copie de MANAGEMENT 2 .gslides'
'Copie de Pfmp1 retour expériences.docx'
'Développement durable Djeneba (1).docx'
'Développement durable Djeneba (2).docx'
'Développement durable Djeneba.docx'
'Développement durable Djeneba.gdoc'
 diabetes.csv
'Djénéba Act.gdoc'
'Djeneba Groupe de mode Richemont .gslides'
'DJENEBA Vuitton partie 1.docx'
'DJENEBA Vuitton partie 1.gdoc'
'Djeneba Vuitton partie 2.docx'
'Djeneba Vuitton partie 2.gdoc'
'Document sans titre (1).gdoc'
'Document sans titre (2).gdoc'
'Document sans titre (3).gdoc'
'Document sans titre (4).gdoc'
'Document sans titre (5).gdoc'
'Document sans titre (6).gdoc'
'Document sans titre (7).gdoc'
'Document sans titre (8).gdoc'
'Document sans titre (9).gdoc'
'Document sans titre.gdoc'
'Feuille de calcul sans titre.gsheet'
'fiche argumentaire.gslides'
'fiche signalétique djeneba.gslides'
 finance
'La Samaritaine.gdoc'
"Les métiers du commerce dans l'univers du Luxe Bonmarché Printemps.gdoc"
'LIVRET DE STAGE.docx'
'MANAGEMENT 2 .gslides'
'Michelin V2 Partie 1 2021.docx'
'Michelin V2 Partie 2 2021.docx'
'Pfmp1 retour expériences.doc'
'Pix_villes (1) lol'
 Pix_villes.gdoc
 Pix_villes.odt
'Portrait chinois Djeneba.gslides'
'Présentation sans titre (1).gslides'
'Présentation sans titre (2).gslides'
'Présentation sans titre (3).gslides'
'Présentation sans titre.gslides'
 projet/
 Segment.gdoc
'sneaker lv.gdoc'
'Synthèse Économie.docx'
'Synthèse Économie.gdoc'
'Untitled presentation.gslides'
'Untitled presentation.pptx'

In [ ]:
#Charger ke dataset
womenscloth_data = pd.read_csv('./drive/MyDrive/projet/womenscloth.csv')

#Imoression des 5 premieres lignes
womenscloth_data.head()

   Unnamed: 0  Clothing ID  Age  ...   Division Name Department Name  Class Name
0           0          767   33  ...       Initmates        Intimate   Intimates
1           1         1080   34  ...         General         Dresses     Dresses
2           2         1077   60  ...         General         Dresses     Dresses
3           3         1049   50  ...  General Petite         Bottoms       Pants
4           4          847   47  ...         General            Tops     Blouses

[5 rows x 11 columns]

In [ ]:
womenscloth_data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

In [ ]:
womenscloth_data.columns

Index(['Unnamed: 0', 'Clothing ID', 'Age', 'Title', 'Review Text', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'],
      dtype='object')

In [ ]:
w_data = womenscloth_data[['Clothing ID', 'Age', 'Title', 'Review Text', 'Rating', 'Recommended IND', 'Positive Feedback Count','Class Name']]

In [ ]:
w_data=womenscloth_data.dropna()

In [ ]:
w_data.describe()

         Unnamed: 0   Clothing ID  ...  Recommended IND  Positive Feedback Count
count  19662.000000  19662.000000  ...     19662.000000             19662.000000
mean   11755.260655    921.297274  ...         0.818177                 2.652477
std     6772.063092    200.227528  ...         0.385708                 5.834285
min        2.000000      1.000000  ...         0.000000                 0.000000
25%     5888.250000    861.000000  ...         1.000000                 0.000000
50%    11749.500000    936.000000  ...         1.000000                 1.000000
75%    17624.750000   1078.000000  ...         1.000000                 3.000000
max    23485.000000   1205.000000  ...         1.000000               122.000000

[8 rows x 6 columns]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
text= vectorizer.fit_transform(w_data["Review Text"])

In [ ]:
text.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
X = text#w_data.drop(["Rating"],axis = 1)
y = w_data.Rating

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=1/3,random_state=42, stratify=y)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
w_data

       Unnamed: 0  Clothing ID  Age  ...   Division Name Department Name  Class Name
2               2         1077   60  ...         General         Dresses     Dresses
3               3         1049   50  ...  General Petite         Bottoms       Pants
4               4          847   47  ...         General            Tops     Blouses
5               5         1080   49  ...         General         Dresses     Dresses
6               6          858   39  ...  General Petite            Tops       Knits
...           ...          ...  ...  ...             ...             ...         ...
23481       23481         1104   34  ...  General Petite         Dresses     Dresses
23482       23482          862   48  ...  General Petite            Tops       Knits
23483       23483         1104   31  ...  General Petite         Dresses     Dresses
23484       23484         1084   28  ...         General         Dresses     Dresses
23485       23485         1104   52  ...  General Petite         Dresses     Dresses

[19662 rows x 11 columns]

In [ ]:
X

<19662x13575 sparse matrix of type '<class 'numpy.float64'>'
	with 862966 stored elements in Compressed Sparse Row format>

In [ ]:
y

2        3
3        5
4        5
5        2
6        5
        ..
23481    5
23482    3
23483    3
23484    3
23485    5
Name: Rating, Length: 19662, dtype: int64

In [ ]:
X_train

<13108x13575 sparse matrix of type '<class 'numpy.float64'>'
	with 575334 stored elements in Compressed Sparse Row format>

Exercice: prédire qui doit être conviqué en priorité pour une détection du diabete

In [ ]:
23000*2/3

15333.333333333334

In [ ]:
X_test

       Unnamed: 0  Clothing ID  Age  ...   Division Name Department Name  Class Name
16832       16832          528   31  ...         General         Bottoms      Shorts
10943       10943          172   70  ...       Initmates        Intimate       Sleep
8109         8109         1079   80  ...         General         Dresses     Dresses
12349       12349          850   28  ...  General Petite            Tops     Blouses
8592         8592          943   62  ...         General            Tops    Sweaters
...           ...          ...  ...  ...             ...             ...         ...
18139       18139          391   38  ...       Initmates        Intimate        Swim
14428       14428          875   40  ...         General            Tops       Knits
8768         8768         1077   29  ...  General Petite         Dresses     Dresses
21127       21127          872   21  ...         General            Tops       Knits
12384       12384          822   45  ...         General            Tops     Blouses

[6554 rows x 10 columns]

In [ ]:
#TIPS: utiliser fit, predit, accuracy_score

In [ ]:
from sklearn import tree

clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

In [ ]:
result=clf.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test,result)

0.4868782422947818